// 隐藏单行本文
@mixin hide-text {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}

// 单行文本溢出隐藏
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 扩展点击区域  $x: 水平方向扩展距离， $y：竖直方向扩展距离
@mixin extend-click($x: 6px, $y: $x) {
  position: relative;

  &:after {
    position: absolute;
    top: -$y;
    right: -$x;
    bottom: -$y;
    left: -$x;
    content: '';
  }
}

// 缩放  $ratio：缩放比, $direction: 方向，可选值x、y、all
@mixin scale($ratio, $direction: all) {
  @if $direction==x {
    transform: scaleX($ratio);
  }

  @else if $direction==y {
    transform: scaleY($ratio);
  }

  @else {
    transform: scale($ratio);
  }
}

// 根据设备像素比进行缩放  $direction: 方向，可选值x、y、all
@mixin scale-by-pixel-ratio($direction: all) {

  @media (-webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5) {
    & {
      @include scale(.666667, $direction);
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-device-pixel-ratio: 2) {
    & {
      @include scale(.5, $direction);
    }
  }

  @media (-webkit-min-device-pixel-ratio: 3),
  (min-device-pixel-ratio: 3) {
    & {
      @include scale(.45, $direction);
      // @include scale(.333333, $direction);
    }
  }
}

@mixin border-top($color, $width: 1px) {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-top: $width solid $color;
    content: '';
    @include scale-by-pixel-ratio(y);
  }
}

@mixin border-bottom($color, $width: 1px) {
  position: relative;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: $width solid $color;
    content: '';
    @include scale-by-pixel-ratio(y);
  }
}

@mixin border-right($color, $width: 1px) {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-right: $width solid $color;
    content: '';
    @include scale-by-pixel-ratio(x);
  }
}

@mixin border-left($color, $width: 1px) {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-left: $width solid $color;
    content: '';
    @include scale-by-pixel-ratio(x);
  }
}

// @mixin triangle($width, $height, $color, $direction) {
//   $width: $width/2;
//   $color-border-style: $height solid $color;
//   $transparent-border-style: $width solid transparent;
//   height: 0;
//   width: 0;
//   @if $direction==up {
//     border-bottom: $color-border-style;
//     border-left: $transparent-border-style;
//     border-right: $transparent-border-style;
//   }
//   @else if $direction==right {
//     border-left: $color-border-style;
//     border-top: $transparent-border-style;
//     border-bottom: $transparent-border-style;
//   }
//   @else if $direction==down {
//     border-top: $color-border-style;
//     border-left: $transparent-border-style;
//     border-right: $transparent-border-style;
//   }
//   @else if $direction==left {
//     border-right: $color-border-style;
//     border-top: $transparent-border-style;
//     border-bottom: $transparent-border-style;
//   }
// }